# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
env/

# Django
*.log
staticfiles/
static/
media/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/

# IDEs
.vscode/
.idea/

# Packaging
*.egg-info/
.build/
dist/

# Migrations cache
*.mo
*.pot

# Local DB
*.sqlite3
